<!-- main.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <!-- Добавьте здесь свои ссылки на CSS -->
</head>
<body>
    {{> navbar}}
    <div class="container">
        {{{body}}}
    </div>
    <!-- Добавьте здесь свои ссылки на JavaScript -->
</body>
</html>