<!-- Определение формы с атрибутом action, указывающим на URL, куда будет отправлен запрос при отправке формы -->
<form action="/create" method="post">
<!-- Заголовок формы -->
<h2>Create todo</h2>

<!-- Создание блока для поля ввода -->
<div class="input-field">
<!-- Поле ввода текста с атрибутом name, который будет использоваться на сервере для идентификации данных -->
<input type="text" name="title">
<!-- Метка для поля ввода, которая будет отображаться рядом с полем -->
<label>Todo title</label>
</div>
<!-- Кнопка отправки формы -->
<button type="submit" class="btn">Create</button>
</form>